body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board{
    display: none;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    background-color: black;
    gap: 4px;
}

.board div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 100px;
}



.form-div{
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-warning-1, .name-warning-2{
    color: red;
    font-size: .9rem;
    display: none;
}

.restart{
    font-size: 1rem;
    border-radius: 20px;
    height: 2.5rem;
    width: 6rem;
    outline: none;
    border-style: hidden;
    font-weight: bold;
    background-color: rgb(112, 205, 112);
}

.next-1, .next-2{
    font-size: .7rem;
    border-radius: 20px;
    height: 2rem;
    width: 4rem;
    outline: none;
    border-style: hidden;
    font-weight: bold;
    background-color: rgb(215, 210, 210);
}

.part-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-one, .player-two{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

input[type='text']{
    border-radius: 5px;
    border-color: rgb(174, 159, 159);
    border-width: 1px;
    border-style: solid;
}

input[type='text']:focus{
    border-color: blue;
    border-width: 1px;
    box-shadow: 2px 2px 5px lightblue;
    border-style: solid;
    outline: none

}

.submit-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button, .submit-button-b{
    font-size: .9rem;
    border-radius: 20px;
    height: 2.8rem;
    width: 6.5rem;
    outline: none;
    border-style: hidden;
    font-weight: bold;
    background-color: rgb(215, 210, 210);
}

.part-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.part-2  p{
    font-weight: bold;
}

.part-two-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.part-3a {
    flex-direction: column;
}

.part-3b{
    flex-direction: column;

}

.part-3b p{
    font-weight: bold;
}

.part-3-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.part-2, .part-3a, .part-3b{
    display: none;
}
